[submodule "third_party/dcurl"]
	path = third_party/dcurl
	url = https://github.com/DLTcollab/dcurl.git
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/mosquitto"]
	path = third_party/mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
[submodule "third_party/flatcc"]
	path = third_party/flatcc
	url = https://github.com/dvidelabs/flatcc.git
[submodule "third_party/vehicle-scheme"]
	path = third_party/vehicle-scheme
	url = https://github.com/DLTcollab/vehicle-scheme.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
